<div id="sidebar-cart-wrapper">

    <div class="sidebar-logo clearfix">
        <div class="logo-sidebar">
            <img src="{{ asset('images/logo.png') }}" alt="">
        </div>
        <a id="menu-cart-close" href="#" class="close-menu">Close Menu</a>
    </div>
    <div id="collapseCart">

    </div>

</div>