<div class="pre-header">
    <div class="container">
        <div class="pre-header-wrap clearfix">
            {#<div class="pre-header-left">#}
                {#<ul>#}
                    {#<li>#}
                        {#<select class="c-select">#}
                            {#<option>USD</option>#}
                            {#<option>INR</option>#}
                            {#<option>GBP</option>#}
                            {#<option>EURO</option>#}
                        {#</select>#}
                    {#</li>#}
                    {#<li>#}
                        {#<select class="c-select">#}
                            {#<option>ENG</option>#}
                            {#<option>ESP</option>#}
                            {#<option>RUS</option>#}
                            {#<option>FR</option>#}
                        {#</select>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}


            {#<div class="news-ticker visible-lg visible-md">#}
                {#<div class="ticker">#}
                    {#<div class="label-back">LATEST</div>#}
                    {#<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">#}
                        {#<!-- Wrapper for slides -->#}
                        {#<div class="carousel-inner" role="listbox">#}
                            {#<div class="item active">Congue admodum dissentiet</div>#}
                            {#<div class="item">Congue admodum dissentiet</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}


            <div class="pre-header-right">
                <ul>
                    <li>
                        {% if loggedUser == null %}
                            {% set accountUrl = 'user_registration' %}
                        {% else %}
                            {% set accountUrl = 'user_account' %}
                        {% endif %}
                        <a href="{{ path(accountUrl) }}" class="account-link" style="margin-top: 8px; title="Ο λογαριασμός μου">
                            <span class="link-text" style="visibility:hidden">.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="wishlist-link" style="margin-top: 10px; title="Wishlist">
                            <span class="link-text" style="visibility:hidden">.</span>
                            <span class="count-baloon">100</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#collapseCart" aria-expanded="false"
                           aria-controls="collapseCart" style="margin-top: 8px;" class="cart-link" title="Καλάθι">
                            <span class="link-text" style="visibility:hidden">.</span>
                            <span class="count-baloon">
                                {#{% if cartItems|length > 0 %}#}
                                    {#{{ cartItems|length }}#}
                                {#{% endif %}#}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"
                           aria-controls="collapseSearch" class="search-link">
                            <span class="link-text">αναζητηση</span>
                        </a>
                    </li>
                </ul>


                <div class="cart-dropdown collapse" id="collapseCart">
                    {#{% include 'partials/top_cart.html.twig' %}#}
                </div>

            </div>
        </div>
    </div>

    <div class="search-collapse collapse" id="collapseSearch">
        <div class="well">
            <div class="container">
                <div class="search-wrap">
                    <a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"
                       aria-controls="collapseSearch"
                       class="close-btn visible-lg visible-md visible-sm">Search</a>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div class="search">
                                <form action="#" method="post">
                                    <div class="textbox">
                                        <input class="form-control" type="text" placeholder="TYPE KEYWORD">
                                    </div>
                                    <div class="option-box">
                                        <select class="c-select">
                                            <option>All</option>
                                            <option>Women</option>
                                            <option>Men</option>
                                            <option>Juniors</option>
                                            <option>Kids</option>
                                            <option>Accessories</option>
                                        </select>
                                    </div>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>