<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-home active"></i>Home</a></li>
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-shopping-bag"></i>Shop</a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="menu-block">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="sub-menu">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li><a href="#">T-Shirts</a></li>
                                                <li><a href="#">Shirts</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Trousers</a></li>
                                                <li><a href="#">Winter Wear</a></li>
                                                <li><a href="#">Sports Wear</a></li>
                                                <li><a href="#">Suits & Blazers</a></li>
                                                <li><a href="#">Innerwear & Loungewear</a>
                                                </li>
                                                <li><a href="#">Ethnic Wear</a></li>
                                                <li><a href="#">Accessories</a></li>
                                                <li><a href="#">Shorts, 3/4ths & Cargos</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="sub-menu">
                                            <h4>School Supplies</h4>
                                            <ul>
                                                <li><a href="#">School Bags</a></li>
                                                <li><a href="#">School Combo Sets</a></li>
                                                <li><a href="#">Lunch Box</a></li>
                                                <li><a href="#">Kids' Watches</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="sub-menu">
                                            <h4>Footware</h4>
                                            <ul>
                                                <li><a href="#">Sports Shoes</a></li>
                                                <li><a href="#">Casual Shoes</a></li>
                                                <li><a href="#">Formal Shoes</a></li>
                                                <li><a href="#">Sandals & Floaters</a></li>
                                                <li><a href="#">Flip- Flops</a></li>
                                                <li><a href="#">Loafers</a></li>
                                                <li><a href="#">Boots</a></li>
                                                <li><a href="#">Running Shoes</a></li>
                                                <li><a href="#">Sneakers</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-menu">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li><a href="#">Backpacks</a></li>
                                                <li><a href="#">Wallets</a></li>
                                                <li><a href="#">Belts</a></li>
                                                <li><a href="#">Sunglasses & Frames</a></li>
                                                <li><a href="#">Luggage & Travel</a></li>
                                                <li><a href="#">Jewellery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="menu-product-list">
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img
                                                        class="media-object"
                                                        src="images/product-1.jpg" alt="..."></a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Provouge T-shirt</h5>
                                            <div class="star-rating"><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star-o"></i></div>
                                            <div class="item-price">
                                                <del>$99.95</del>
                                                $ 61.19
                                            </div>
                                            <a href="#" class="details-btn">DETAILS</a>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img
                                                        class="media-object"
                                                        src="images/product-2.jpg" alt="..."></a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Provouge T-shirt</h5>
                                            <div class="star-rating"><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star-half-o"></i><i
                                                        class="fa fa-star-o"></i></div>
                                            <div class="item-price">
                                                <del>$99.95</del>
                                                $ 61.19
                                            </div>
                                            <a href="#" class="details-btn">DETAILS</a>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img
                                                        class="media-object"
                                                        src="images/product-3.jpg" alt="..."></a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Gucci Bagpack</h5>
                                            <div class="star-rating"><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star-half-o"></i></div>
                                            <div class="item-price">
                                                <del>$99.95</del>
                                                $ 61.19
                                            </div>
                                            <a href="#" class="details-btn">DETAILS</a>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img
                                                        class="media-object"
                                                        src="images/product-4.jpg" alt="..."></a>
                                        </div>
                                        <div class="media-body">
                                            <h5>LeeCooper Jeans</h5>
                                            <div class="star-rating"><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star-half-o"></i></div>
                                            <div class="item-price">
                                                <del>$99.95</del>
                                                $ 61.19
                                            </div>
                                            <a href="#" class="details-btn">DETAILS</a>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left"><a href="#"><img
                                                        class="media-object"
                                                        src="images/product-1.jpg" alt="..."></a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Provouge T-shirt</h5>
                                            <div class="star-rating"><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star"></i><i
                                                        class="fa fa-star-o"></i></div>
                                            <div class="item-price">
                                                <del>$99.95</del>
                                                $ 61.19
                                            </div>
                                            <a href="#" class="details-btn">DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <ul class="menu-banner">
                                    <li><a href="#"><img src="images/banner-1.jpg"
                                                         alt=""></a></li>
                                    <li><a href="#"><img src="images/banner-2.jpg"
                                                         alt=""></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-female"></i>Women</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Sarees</a></li>
                    <li><a href="#">Kurtas & Kurtis</a></li>
                    <li><a href="#">Dress Material</a></li>
                    <li><a href="#">Lehenga Choli</a></li>
                    <li><a href="#">Salwar Suits</a></li>
                    <li><a href="#">Blouse</a></li>
                    <li><a href="#">Salwars & Churidars</a></li>
                    <li><a href="#">Lingerie & Sleepwear</a></li>
                    <li><a href="#">Bras</a></li>
                    <li><a href="#">Panties</a></li>
                    <li><a href="#">Nightsuits & Nightdresses</a></li>
                    <li><a href="#">New in Clothing</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-male"></i>Men</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Winter Wear</a></li>
                    <li><a href="#">Sports Wear</a></li>
                    <li><a href="#">Suits & Blazers</a></li>
                    <li><a href="#">Innerwear & Loungewear</a></li>
                    <li><a href="#">Ethnic Wear</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Shorts, 3/4ths & Cargos</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-gear"></i>Accessories</a></li>
            {#<li class="dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i#}
                            {#class="fa fa-child"></i>Kids</a>#}
                {#<ul class="dropdown-menu" role="menu">#}
                    {#<li><a href="#">Boys' Clothing</a></li>#}
                    {#<li><a href="#">Polos & T-Shirts</a></li>#}
                    {#<li><a href="#">Ethnic Wear</a></li>#}
                    {#<li><a href="#">Winter Wear</a></li>#}
                    {#<li><a href="#">Girls' Clothing</a></li>#}
                    {#<li><a href="#">Dresses & Skirts</a></li>#}
                    {#<li><a href="#">Winter Wear</a></li>#}
                    {#<li><a href="#">Baby Boy Clothing</a></li>#}
                    {#<li><a href="#">Body Suits</a></li>#}
                    {#<li><a href="#">Polos & T-Shirts</a></li>#}
                    {#<li><a href="#">Baby Girl Clothing</a></li>#}
                    {#<li><a href="#">Body Suits</a></li>#}
                    {#<li><a href="#">Dresses</a></li>#}
                {#</ul>#}
            {#</li>#}
        </ul>
    </div>
</nav>