<div class="filter-widget">
    <h3>κατηγοριεσ</h3>

    <div class="content">
        {#{{ dump(ctgInfo.__children) }}#}

        {% for subctg in subCategories %}
            <div class="custom-cr">
                <a href="{{ path('products_list', {'id': subctg.id}) }}"> <span>{{ subctg.name }}</span></a>
            </div>
        {% endfor %}

        {#<div class="text-right">#}
        {#<button type="button" class="btn btn-xs btn-default">ΕΦΑΡΜΟΓΗ</button>#}
        {#</div>#}
    </div>
</div>