<div class="filter-widget">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title"><a role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseSize"
                                            aria-expanded="true"
                                            aria-controls="collapseSize">Size</a></div>
            </div>
            <div id="collapseSize" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingSize">
                <div class="panel-body">
                    <div class="custom-cr"><label><input type="checkbox"
                                                         class="checkbox"><span>XXS</span></label>
                    </div>
                    <div class="custom-cr"><label><input type="checkbox"
                                                         class="checkbox"><span>3XS</span></label>
                    </div>
                    <div class="custom-cr"><label><input type="checkbox"
                                                         class="checkbox"><span>2XS</span></label>
                    </div>
                    <div class="custom-cr"><label><input type="checkbox"
                                                         class="checkbox"><span>XS</span></label>
                    </div>
                    <div class="custom-cr"><label><input type="checkbox"
                                                         class="checkbox"><span>S</span></label>
                    </div>
                    <div class="custom-cr"><label><input type="checkbox"
                                                         class="checkbox"><span>M</span></label>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-default">APPLY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>