<div class="filter-widget">
    <h3>FILTER</h3>
    <div class="content">
        <h4>Shop By</h4>
        <div class="custom-cr"><label><input type="checkbox"
                                             class="checkbox"><span>Accessories</span></label>
        </div>
        <div class="custom-cr"><label><input type="checkbox"
                                             class="checkbox"><span>Glasses</span></label></div>
        <div class="custom-cr"><label><input type="checkbox"
                                             class="checkbox"><span>Men's</span></label></div>
        <div class="custom-cr"><label><input type="checkbox"
                                             class="checkbox"><span>Women's</span></label></div>
        <div class="custom-cr"><label><input type="checkbox"
                                             class="checkbox"><span>Kid's</span></label></div>
        <div class="custom-cr"><label><input type="checkbox"
                                             class="checkbox"><span>Juniors</span></label></div>
        <div class="text-right">
            <button type="button" class="btn btn-xs btn-default">APPLY</button>
        </div>
    </div>
</div>