<div class="filter-widget">
    <h3>Shop By Price</h3>
    <div class="content">
        <div class="form-group row">
            <div class="col-sm-10 col-xs-12">
                <input type="text" id="range_slider">
            </div>
        </div>
    </div>
</div>