<div class="filter-widget">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title"><a role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseCategory"
                                            aria-expanded="true"
                                            aria-controls="collapseCategory">Category</a>
                </div>
            </div>
            <div id="collapseCategory" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingCategory">
                <div class="panel-body">
                    {% for ctg in categories %}
                        {% if ctg.id|number_format == ctgInfo.id|number_format %}
                            {% for subctg in ctg.children %}
                                <div class="custom-cr">
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                        <span>{{ subctg.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-default">ΕΦΑΡΜΟΓΗ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>