<div class="filter-widget">
    <h3>Shop By Price</h3>
    <div class="content">
        <div class="price-range">
            <input type="text" id="amount">
            <div id="slider-range"></div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-xs btn-default">APPLY
            </button>
        </div>
    </div>
</div>