<div class="row three-column-row">
    <div class="col-sm-12 col-md-3">
        <div class="gallery-list">
            <h3>Gallery</h3>
            <div class="gallery-thumb coleql_height">
                <div class="row">
                    <div class="col-sm-4 col-md-6 col-xs-6">
                        <div class="grid">
                            <figure class="effect-apollo"><a href="#"><img
                                            src="images/img-1.jpg"
                                            alt=""></a>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-6">
                        <div class="grid">
                            <figure class="effect-apollo"><a href="#"><img
                                            src="images/img-2.jpg"
                                            alt=""></a>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-6">
                        <div class="grid">
                            <figure class="effect-apollo"><a href="#"><img
                                            src="images/img-3.jpg"
                                            alt=""></a>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-6">
                        <div class="grid">
                            <figure class="effect-apollo"><a href="#"><img
                                            src="images/img-4.jpg"
                                            alt=""></a>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-6">
                        <div class="grid">
                            <figure class="effect-apollo"><a href="#"><img
                                            src="images/img-5.jpg"
                                            alt=""></a>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-6">
                        <div class="grid">
                            <figure class="effect-apollo"><a href="#"><img
                                            src="images/img-6.jpg"
                                            alt=""></a>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-6 col-md-3 visible-lg visible-md">
        <div class="grid coleql_height">
            <figure class="effect-apollo"><a href="#"><img src="images/banner-4.jpg"
                                                           alt=""></a>
                <figcaption></figcaption>
            </figure>
        </div>
    </div>


    <div class="col-sm-12 col-md-6">
        <h3>Out let Brands</h3>
        <div class="brand-listing coleql_height">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-1.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-2.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-3.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-4.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-5.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-6.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-1.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-2.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-3.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-4.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-5.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-6.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-1.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-2.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-3.jpg" alt=""></a></div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-6">
                    <div class="brand-logo"><a href="#"><img
                                    src="images/brand-4.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</div>