<div class="row bottom-banners">
    <div class="col-sm-6">
        <div class="side-banner wow flipInX" data-wow-delay="0.3s"><a href="#">
                <div class="grid">
                    <figure class="effect-apollo"><img src="{{ asset('images/banner-6.jpg') }}"
                                                       alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a></div>
    </div>
    <div class="col-sm-6">
        <div class="side-banner wow flipInX" data-wow-delay="0.3s"><a href="#">
                <div class="grid">
                    <figure class="effect-apollo"><img src="{{ asset('images/banner-7.jpg') }}"
                                                       alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a></div>
    </div>
    <div class="col-sm-6">
        <div class="side-banner wow flipInX" data-wow-delay="0.3s"><a href="#">
                <div class="grid">
                    <figure class="effect-apollo"><img src="{{ asset('images/banner-8.jpg') }}"
                                                       alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a></div>
    </div>
    <div class="col-sm-6">
        <div class="side-banner wow flipInX" data-wow-delay="0.3s"><a href="#">
                <div class="grid">
                    <figure class="effect-apollo"><img src="{{ asset('images/banner-9.jp') }}g"
                                                       alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a></div>
    </div>
</div>