<div class="top-banner">
    <div class="container">
        <div class="custom-slider">
            <div id="carousel-slideBigTop" class="carousel carousel-fade slide"
                 data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active"><a href="#"><img
                                    src="{{ asset('images/banner-5.jpg') }}" alt=""></a>
                    </div>
                    <div class="item"><a href="#"><img
                                    src="{{ asset('images/banner-5.jpg') }}" alt=""></a>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-slideBigTop" role="button"
                   data-slide="prev"><i
                            class="fa fa-angle-left"></i></a>
                <a class="right carousel-control" href="#carousel-slideBigTop" role="button"
                   data-slide="next"><i
                            class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>