<div class="side-widget wow zoomIn" data-wow-delay="0.3s">
    <h5>Delivery</h5>
    <div class="content-box">
        <div class="pin-form">
            <form action="#">
                <div class="row no-margin">
                    <div class="col-xs-8 no-padding">
                        <input type="text" class="form-control" placeholder="Enter Pin Code">
                    </div>
                    <div class="col-xs-4 no-padding">
                        <input type="submit" class="btn btn-primary btn-block" value="CHECK">
                    </div>
                </div>
            </form>
            <p class="text-center"><strong>Generally delivered by 5 days</strong></p>
        </div>
    </div>
</div>