<div class="side-widget wow zoomIn" data-wow-delay="0.3s">
    <h5>ειδικες προσφορες</h5>
    <div class="product-case">
        <div class="tag tag-red">
            <span>Sale</span>
        </div>
        <div class="product-img">
            <div class="hover-img">
                <img src="{{ asset('images/product-1-h.jpg') }}" alt="">
            </div>
            <a href="#">
                <img src="{{ asset('images/product-1.jpg') }}" alt="">
            </a>
        </div>
        <div class="hover-info">
            <div class="product-short-info">
                <div class="product-name">
                    <a href="#">Provouge Men T-Shirt</a>
                </div>
                {#<div class="star">#}
                    {#<i class="fa fa-star"></i>#}
                    {#<i class="fa fa-star"></i>#}
                    {#<i class="fa fa-star"></i>#}
                    {#<i class="fa fa-star"></i>#}
                    {#<i class="fa fa-star"></i>#}
                    {#<i class="fa fa-star-o"></i>#}
                {#</div>#}
                <div class="product-price">
                    <div class="product-price-span">{{ pr.webPrice }}€
                        <del>{{ pr.retailPrice }}€</del>
                    </div>
                </div>
                <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span></button>
            </div>
        </div>
        <div class="product-short-info">
            <div class="product-name"><a href="#">Provouge Men T-Shirt</a></div>
            <div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
            <div class="product-price"><div class="product-price-span">$28.40 <del>$35.50</del></div></div>
        </div>
    </div>
</div>