<div class="side-widget wow zoomIn" data-wow-delay="0.3s">
    <h5>Πληροφορίες</h5>
    <div class="content-box">
        <div class="content-scroll content-one">
            <div class="content mCustomScrollbar">
                <p>In vis saepe euismod, in vim esse placerat, inimicus
                    voluptaria constituam per ad. Et vidisse suavitate quo,
                    his id dicta homero soleat, ne usu ipsum torquatos.
                    Illum animal scribentur mel ex, no quis consectetuer
                    his, inimicus salutandi has ad. Erant nonumes assueverit
                    vim cu, cibo referrentur sea at. Clita appareat an cum,
                    ei sed discere deserunt. Detracto theophrastus mea ex.
                </p>
                <p>In vis saepe euismod, in vim esse placerat, inimicus
                    voluptaria constituam per ad. Et vidisse suavitate quo,
                    his id dicta homero soleat, ne usu ipsum torquatos.
                    Illum animal scribentur mel ex, no quis consectetuer
                    his, inimicus salutandi has ad. Erant nonumes assueverit
                    vim cu, cibo referrentur sea at. Clita appareat an cum,
                    ei sed discere deserunt. Detracto theophrastus mea ex.
                </p>
            </div>
        </div>
    </div>
</div>