<div class="top-banner">
    <div class="container">
        <div class="custom-slider">
            <div id="carousel-slideBigTop" class="carousel carousel-fade slide"
                 data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for slide in slider %}
                        {% if loop.index == 1 %}
                            {% set active = 'active' %}
                        {% else %}
                            {% set active = '' %}
                        {% endif %}
                        <div class="item {{ active }}">
                            <a href="{{ slide.url }}">
                                <img src="{{ asset('uploads/slider/' ~ slide.image) }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-slideBigTop" role="button"
                   data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-slideBigTop" role="button"
                   data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>