<link rel="stylesheet" href="{{ asset('build/admin/css/daterangepicker.css') }}">
<style>
    .daterangepicker {
        z-index: 1200;
        display: none;
    }
</style>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="control-label required" for="slider_name">Επιλέξτε προϊόν</label>
            <input class="form-control form-control" type="text" id="search-products" name="search-products">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label required" for="slider_name">Ημερομηνία λήξης προσφοράς</label>
            <input class="form-control form-control" type="text" id="latest-offer" name="latest-offer">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Αποθήκευση</button>
</div>