<form action="{{ path('category_slider_delete', {'id':slider.id}) }}" method="post">
    <div class="row">
        <div class="col-lg-12" style="padding-bottom: 30px">
            Είστε σίγουρος ότι θέλετε να διαγράψετε το slide "{{ slider.name }}";
        </div>
        <input type="hidden" name="delete" value="1">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ακύρωση</button>
        <button type="submit" class="btn btn-primary">Διαγραφή</button>
    </div>
</form>