<div class="filter-widget">
    <h3>SHOP BY BRAND</h3>
    <div class="content">
        <div class="color-list">
            <div class="btn-group clearfix" data-toggle="buttons">
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#0c0a18;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#de332c;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#00aeef;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#3cb878;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#f7941d;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#b16c4f;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#f26d7d;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#662d91;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#898989;"></div>
                    </div>
                </label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off">
                    <div class="color-btn">
                        <div class="color-box" style="background-color:#ec008c;"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-xs btn-default">APPLY</button>
        </div>
    </div>
</div>