<div class="filter-widget">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title"><a role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseCategory"
                                            aria-expanded="true"
                                            aria-controls="collapseCategory">Category</a>
                </div>
            </div>
            <div id="collapseCategory" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingCategory">
                <div class="panel-body">
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>Ethnic
                                Wear</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>Western
                                Wear</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>Lingerie</span></label>
                    </div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>Fusion
                                Wear</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>Combo
                                Sets</span></label></div>
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-default">APPLY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>