<div class="filter-widget">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title"><a role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseDiscount"
                                            aria-expanded="true"
                                            aria-controls="collapseDiscount">ΕΚΠΤΩΣΗ</a>
                </div>
            </div>
            <div id="collapseDiscount" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingDiscount">
                <div class="panel-body">
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>50%
                                Η ΠΕΡΙΣΣΟΤΕΡΟ</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>40%
                                Η ΠΕΡΙΣΣΟΤΕΡΟ</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>30%
                                Η ΠΕΡΙΣΣΟΤΕΡΟ</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>20%
                                Η ΠΕΡΙΣΣΟΤΕΡΟ</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>10%
                                Η ΠΕΡΙΣΣΟΤΕΡΟ</span></label></div>
                    <div class="custom-cr"><label><input type="checkbox" class="checkbox"><span>ΛΙΓΟΤΕΡΟ ΑΠΟ 10%</span></label></div>
                    <div class="text-right">
                        <button type="button" class="btn btn-xs btn-default">ΕΦΑΡΜΟΓΗ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>