<div class="filter-widget">
    <h3>SHOP BY BRAND</h3>
    <div class="content">
        <div class="brand-list clearfix">
            <div class="btn-group clearfix" data-toggle="buttons">
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-1.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-2.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-3.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-4.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-5.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-6.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-1.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-2.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-3.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-4.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-5.jpg" alt=""></label>
                <label class="btn btn-primary"><input type="checkbox" autocomplete="off"><img
                            src="images/brand-6.jpg" alt=""></label>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-xs btn-default">APPLY</button>
        </div>
    </div>
</div>