<div class="section" style="background-image:url({{ asset('images/bg-3.jpg') }});">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>OUR Portfolio</h3>
                <h2>Checkout some of our work</h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
        </div>
    </div>

    <div class="owl-carousel owl-theme workCarousel product-main-slider">
        {% for item in promoCtgs %}
            <div class="item">
                <div class="work-shocase">
                    {% if item.description|length > 0 %}
                        <div class="tag tag-red">
                            <span style="font-weight: bold;">-{{ item.description }}%</span>
                        </div>
                    {% endif %}
                    <a href="{{ item.url }}">
                        <img src="{{ asset('uploads/slider/' ~ item.image) }}" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>