<div class="section">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2 fb-section-header">
                <h2>Αγαπημένα</h2>
                <h1>Brands</h1>
            </div>
        </div>
    </div>

    <div class="owl-carousel owl-theme workCarousel product-main-slider">
        {% for item in promoCtgs %}
            <div class="item">
                <div class="work-shocase">
                    {% if item.description|length > 0 %}
                        <div class="tag tag-red">
                            <span style="font-weight: bold;">-{{ item.description }}%</span>
                        </div>
                    {% endif %}
                    <a href="{{ item.url }}">
                        <img src="{{ asset('uploads/slider/' ~ item.image) }}" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>