<div class="section section-news">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>OUR NEWS</h3>
                <h2>Read all our Latest News</h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-6 no-padding news-post">
            <div class="hover-div">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
                <ul class="post-like">
                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1200</a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-down"></i>100</a></li>
                </ul>
            </div>
            <div class="news-short-info">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
            </div>
            <div class="news-img" style="background-image:url({{ asset('images/img-11.png') }})"></div>
        </div>

        <div class="col-md-6 no-padding news-post">
            <div class="hover-div">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
                <ul class="post-like">
                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1200</a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-down"></i>100</a></li>
                </ul>
            </div>
            <div class="news-short-info">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
            </div>
            <div class="news-img" style="background-image:url({{ asset('images/img-12.png') }})"></div>
        </div>

        <div class="col-md-6 no-padding news-post">
            <div class="hover-div">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
                <ul class="post-like">
                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1200</a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-down"></i>100</a></li>
                </ul>
            </div>
            <div class="news-short-info">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
            </div>
            <div class="news-img" style="background-image:url('{{ asset('images/img-13.png') }}')"></div>
        </div>

        <div class="col-md-6 no-padding news-post">
            <div class="hover-div">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
                <ul class="post-like">
                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1200</a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-down"></i>100</a></li>
                </ul>
            </div>
            <div class="news-short-info">
                <h3><a href="#">Ei etiam assueverit signiferumque cum, his animal fierent instructior te</a>
                </h3>
                <ul class="post-tag">
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">TREND</a></li>
                </ul>
                <ul class="post-meta">
                    <li><i class="fa fa-calendar"></i><a href="#">November</a> 11, 2016</li>
                    <li><i class="fa fa-user-circle-o"></i>by <a href="#">admin</a></li>
                    <li><i class="fa fa-comment-o"></i><a href="#">5 comment(s)</a></li>
                </ul>
            </div>
            <div class="news-img" style="background-image:url('{{ asset('images/img-14.png') }}')"></div>
        </div>

    </div>
</div>