<div class="section section-news">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>SOCIAL MEDIA</h3>
                <h2>Δείτε τι συμβαίνει στα Social Media</h2>
                <p>Ακολουθήστε μας στα Social Media για να ενημερώνεστε για τα τελευταία νέα μας, τις καθημερινές προσφορές μας, να συμμετέχετε σε διαγωνισμούς και να μαθαίνετε συμβουλές για καλύτερη υγεία. Γίνετε μέλος της μεγάλης παρέας μας.</p>
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-3 no-padding news-post">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnosiaPharmacy%2F&tabs=timeline&width=500&height=363&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=605092459847380" width="500" height="363" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-md-3 no-padding news-post">
            <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f1c0bf4d476a5ef5ba12ca7b704d2bab.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
        <div class="col-md-3 no-padding news-post">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnosiaPharmacy%2F&tabs=timeline&width=500&height=363&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=605092459847380" width="500" height="363" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-md-3 no-padding news-post">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnosiaPharmacy%2F&tabs=timeline&width=500&height=363&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=605092459847380" width="500" height="363" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>