<div class="section" style="background-image:url({{ asset('images/bg-6.jpg') }});">
    <div class="container service-content">
        <div class="row">
            <div class="col-md-4 wow flipInY" data-wow-delay="0.4s">
                <p>HERE WE GO</p>
                <h2>Check out some our cool <span>stuff we can do for you</span>! </h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
            <div class="col-md-8">
                <ul class="wow flipInX" data-wow-delay="0.4s">
                    <li class="coleql_height">
                        <i class="fa fa-bullhorn"></i>
                        <h4>Possim eruditi docendi</h4>
                        <p>Ne cum summo persius, viris animal complectitur pri cu, in eruditi phaedrum eos. Has
                            ad
                            dicunt diceret legendos. Usu ei oblique alienum.</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fa fa-briefcase"></i>
                        <h4>Possim eruditi docendi</h4>
                        <p>Ne cum summo persius, viris animal complectitur pri cu, in eruditi phaedrum eos. Has
                            ad
                            dicunt diceret legendos. Usu ei oblique alienum.</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fa fa-gift"></i>
                        <h4>Possim eruditi docendi</h4>
                        <p>Ne cum summo persius, viris animal complectitur pri cu, in eruditi phaedrum eos. Has
                            ad
                            dicunt diceret legendos. Usu ei oblique alienum.</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fa fa-shield"></i>
                        <h4>Possim eruditi docendi</h4>
                        <p>Ne cum summo persius, viris animal complectitur pri cu, in eruditi phaedrum eos. Has
                            ad
                            dicunt diceret legendos. Usu ei oblique alienum.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>