<div class="section above-footer-sec service-content">
    <h2 class="text-uppercase text-center">ANOSIAPHARMACY.GR</h2>
    <h1 class="text-uppercase text-center">25 ΧΡΟΝΙΑ ΕΜΠΕΙΡΙΑ ΣΤΟ ΧΩΡΟ ΤΟΥ ΦΑΡΜΑΚΕΙΟΥ!</h1>
    <div class="d-flex justify-content-center align-items-center">
      <p class="col-md-12 text-center">Το anosiapharmacy.gr αποτελεί την ηλεκτρονική επέκταση του Φαρμακείου
        Παπαγιαννόπουλος Ιωάννης, που βρίσκεται στον Άγιο Δημήτριο και στην οδό Αμφίσσης 21. Αποτελεί την πιο
        ολοκληρωμένη σε ποικιλία και λειτουργία προσπάθεια που έχει γίνει μέχρι τώρα στην Ελλάδα. Η εμπειρία 25 ετών
        στο χώρο του Φαρμακείου, μεταφέρεται πλέον και διαδικτυακά μέσω του anosiapharmacy.gr.
      </p><br/>
    </div>
    <!--<div class="d-md-block d-lg-block">
        <div class="d-flex justify-content-center shipping-icons">
            <img src="/images/shipping-icons.png" alt="shiping icons">
          </div>
    </div>-->
    
    <!-- VISIBLE ONLY IN XD -->
    <div class="d-block d-sm-none">
      <div class="row shipping-icons justify-content-center">
        <div class="d-flex card-group">
          <div class="col-sm-3 card text-center">
            <div class="card-img">
              <img src="/images/truck.png" alt="">
            </div>
            <div class="card-title text-uppercase text-center">ΔΩΡΕΑΝ ΜΕΤΑΦΟΡΙΚΑ</div>
            <div class="card-text">για παραγγελίες άνω των 39€</div>
          </div>
          <div class="col-sm-3 card text-center">
              <div class="card-img">
                <img src="/images/card.png" alt="">
              </div>
              <div class="card-title text-uppercase text-center">ΚΑΙ ΧΩΡΙΣ ΠΙΣΤΩΤΙΚΗ ΚΑΡΤΑ</div>
              <div class="card-text">με αντικαταβολή κατά την παράδοση</div>
            </div>
            <div class="col-sm-3 card text-center">
                <div class="card-img">
                  <img src="/images/loyalty.png" alt="">
                </div>
                <div class="card-title text-uppercase text-center">προγραμμα ανταμοιβης πελατων</div>
                <div class="card-text">κερδίστε πόντους σε κάθε σας αγορά</div>
              </div>
              <div class="col-sm-3 card text-center">
                  <div class="card-img">
                    <img src="/images/delivery.png" alt="">
                  </div>
                  <div class="card-title text-uppercase text-center">ΑΜΕΣΗ ΠΑΡΑΔΟΣΗ</div>
                  <div class="card-text">σε όλη την Ελλάδα</div>
                </div>
        </div>
      </div>
    </div>
</div>

<!--
<div class="section" style="{#background-image:url({{ asset('images/bg-6.jpg') }}); #} background-color: #4fa56e;">
    <div class="container service-content">
        <div class="row">
            <div class="col-md-4 wow flipInY" data-wow-delay="0.4s">
                <p>ANOSIAPHARMACY.GR</p>
                <h2> <span>25 ΧΡΟΝΙΑ ΕΜΠΕΙΡΙΑ</span> ΣΤΟ ΧΩΡΟ ΤΟΥ ΦΑΡΜΑΚΕΙΟΥ! </h2>
                <p>Το anosiapharmacy.gr αποτελεί την ηλεκτρονική επέκταση του Φαρμακείου Παπαγιαννόπουλος Ιωάννης, που βρίσκεται στον Άγιο Δημήτριο και στην οδό Αμφίσσης 21. Αποτελεί την πιο ολοκληρωμένη σε ποικιλία και λειτουργία προσπάθεια που έχει γίνει μέχρι τώρα στην Ελλάδα. Η εμπειρία 25 ετών στο χώρο του Φαρμακείου, μεταφέρεται πλέον και διαδικτυακά μέσω του anosiapharmacy.gr. </p>
            </div>
            <div class="col-md-8">
                <ul class="wow flipInX" data-wow-delay="0.4s">
                    <li class="coleql_height">
                        <i class="fas fa-clock-o"></i>
                        <h4>Ωράριο λειτουργίας</h4>
                        <p>Δευτέρα & Τετάρτη:<br> 08.00 - 14.00</p>
                        <p>Τρίτη, Πέμπτη & Παρασκευή:<br> 08.00 - 14.00 & 17.30 - 20.30</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fas fa-truck"></i>
                        <h4>Δωρεάν μεταφορικά & αντικαταβολή</h4>
                        <p>Για παραγγελίες άνω των 39€. </p>
                        <p>* Ισχύει για παραγγελίες έως 2Kg</p>
                        <p>ΠΑΡΑΔΟΣΗ ΣΕ 1-3 ΗΜΕΡΕΣ</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fas fa-phone"></i>
                        <h4>210 94 02 027</h4>
                        <p>Τηλεφωνικές παραγγελίες<br>& Εξυπηρέτηση πελατών</p>
                        <p>Δευτέρα έως Παρασκευή:<br>09.30 - 17.30</p>
                    </li>
                    <li class="coleql_height">
                        {#<i class="fas fa-shield-alt"></i>#}
                        <img style="width: 55px;" src="{{ asset('images/icons/anosia-icons-safety.png') }}">
                        <h4>Aσφαλείς συναλλαγές</h4>
                        <p>Στο anosiapharmacy μπορείτε να κάνετε με ασφάλεια τις συναλλαγές σας χρησιμοποιώντας την πλατφόρμα συναλλαγών της VivaPayments ή της Everypay</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
--> s