<div class="section" style="background-image:url({{ asset('images/bg-6.jpg') }});">
    <div class="container service-content">
        <div class="row">
            <div class="col-md-4 wow flipInY" data-wow-delay="0.4s">
                <p>HERE WE GO</p>
                <h2>Check out some our cool <span>stuff we can do for you</span>! </h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
            <div class="col-md-8">
                <ul class="wow flipInX" data-wow-delay="0.4s">
                    <li class="coleql_height">
                        <i class="fa fa-clock-o"></i>
                        <h4>Ωράριο λειτουργίας</h4>
                        <p>Δευτέρα & Τετάρτη:<br> 08.00 - 14.00</p>
                        <p>Τρίτη, Πέμπτη & Παρασκευή:<br> 08.00 - 14.00 & 17.30 - 20.30</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fa fa-truck"></i>
                        <h4>Δωρεάν μεταφορικά & αντικαταβολή</h4>
                        <p>Για παραγγελίες άνω των 39€. </p>
                        <p>* Ισχύει για παραγγελίες έως 2Kg</p>
                        <p>ΠΑΡΑΔΟΣΗ ΣΕ 1-3 ΗΜΕΡΕΣ</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fa fa-phone"></i>
                        <h4>210 94 02 027</h4>
                        <p>Τηλεφωνικές παραγγελίες<br>& Εξυπηρέτηση πελατών</p>
                        <p>Δευτέρα έως Παρασκευή:<br>09.30 - 17.30</p>
                    </li>
                    <li class="coleql_height">
                        <i class="fa fa-shield"></i>
                        <h4>Aσφαλείς συναλλαγές</h4>
                        <p>Στο anosiapharmacy μπορείτε να κάνετε με ασφάλεια τις συναλλαγές σας χρησιμοποιώντας την πλατφόρμα συναλλαγών της VivaPayments ή της Everypay</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>