<div class="section" style="background-image:url(images/bg-8.jpg);">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>OUR Picing Table</h3>
                <h2>What the price you asking for?</h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
        </div>

        <section id="pricePlans">
            <ul id="plans">
                <li class="plan wow zoomIn" data-wow-delay="0.4s">
                    <ul class="planContainer">
                        <li class="title"><h3>STARTER</h3></li>
                        <li class="price"><p>$10<span>/month</span></p></li>
                        <li>
                            <ul class="options">
                                <li>2x <span>option 1</span></li>
                                <li>Free <span>option 2</span></li>
                                <li>Unlimited <span>option 3</span></li>
                                <li>Unlimited <span>option 4</span></li>
                                <li>1x <span>option 5</span></li>
                            </ul>
                        </li>
                        <li class="button"><a href="#">BOOK NOW</a></li>
                    </ul>
                </li>

                <li class="plan wow zoomIn" data-wow-delay="0.4s">
                    <ul class="planContainer">
                        <li class="title"><h3>BUSINESS</h3></li>
                        <li class="price"><p>$20<span>/month</span></p></li>
                        <li>
                            <ul class="options">
                                <li>2x <span>option 1</span></li>
                                <li>Free <span>option 2</span></li>
                                <li>Unlimited <span>option 3</span></li>
                                <li>Unlimited <span>option 4</span></li>
                                <li>1x <span>option 5</span></li>
                            </ul>
                        </li>
                        <li class="button"><a class="bestPlanButton" href="#">BOOK NOW</a></li>
                    </ul>
                </li>

                <li class="plan wow zoomIn" data-wow-delay="0.4s">
                    <ul class="planContainer">
                        <li class="title"><h3>PRO</h3></li>
                        <li class="price"><p>$30<span>/month</span></p></li>
                        <li>
                            <ul class="options">
                                <li>2x <span>option 1</span></li>
                                <li>Free <span>option 2</span></li>
                                <li>Unlimited <span>option 3</span></li>
                                <li>Unlimited <span>option 4</span></li>
                                <li>1x <span>option 5</span></li>
                            </ul>
                        </li>
                        <li class="button"><a href="#">BOOK NOW</a></li>
                    </ul>
                </li>

                <li class="plan wow zoomIn" data-wow-delay="0.4s">
                    <ul class="planContainer">
                        <li class="title"><h3>CORPORATE</h3></li>
                        <li class="price"><p>$40<span>/month</span></p></li>
                        <li>
                            <ul class="options">
                                <li>2x <span>option 1</span></li>
                                <li>Free <span>option 2</span></li>
                                <li>Unlimited <span>option 3</span></li>
                                <li>Unlimited <span>option 4</span></li>
                                <li>1x <span>option 5</span></li>
                            </ul>
                        </li>
                        <li class="button"><a href="#">BOOK NOW</a></li>
                    </ul>
                </li>
            </ul> <!-- End ul#plans -->
        </section>

    </div>
</div>