<div class="section" style="background-image:url({{ asset('images/testimonial-bg.jpg') }});">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>CLIENT FEED BACk</h3>
                <h2>Some of our satisfied guests</h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="testiCarousel">
                    <div id="carouselTesimonial" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <blockquote>"Consul civibus evertitur ei sit. Percipitur complectitur eu eum,
                                    tota
                                    accumsan nominati et sit, quem nostrum quo ad. Vix meis scaevola cu, prima
                                    intellegat disputationi ut sit. Vix te ignota detracto, quodsi detracto
                                    dissentiunt vel ea. Timeam honestatis deterruisset qui at."
                                </blockquote>
                                <cite><strong>MIKE</strong> - California</cite>
                                <div class="client-img"><img src="{{ asset('images/client-1.jpg') }}" alt=""></div>
                            </div>
                            <div class="item">
                                <blockquote>"Consul civibus evertitur ei sit. Percipitur complectitur eu eum,
                                    tota
                                    accumsan nominati et sit, quem nostrum quo ad. Vix meis scaevola cu, prima
                                    intellegat disputationi ut sit. Vix te ignota detracto, quodsi detracto
                                    dissentiunt vel ea. Timeam honestatis deterruisset qui at."
                                </blockquote>
                                <cite><strong>JENNY</strong> - California</cite>
                                <div class="client-img"><img src="{{ asset('images/client-2.jpg') }}" alt=""></div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouselTesimonial" role="button"
                           data-slide="prev"><i
                                    class="fa fa-chevron-left"></i></a>
                        <a class="right carousel-control" href="#carouselTesimonial" role="button"
                           data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>