<div class="info-row" style="background: #fff;">
    <div class="col-sm-6 description">
        <h3>Πρόγραμμα Επιβράβευσης πελατών</h3>
        <p></p><p>Εσείς κάνετε τις αγορές σας και εμείς σας επιβραβεύουμε!</p>
        <p>Επωφεληθείτε από το πρόγραμμα ανταμοιβής μελών που σας επιστρέφει πόντους για κάθε ευρώ που ξοδεύετε! Συγκεντρώστε πόντους σε κάθε παραγγελία και εξαργυρώστε τους στις επόμενες αγορές σας!</p><p></p><br>
        <a href="{{ path('blog_view', {'slug': 'προγραμμα-επιβραβευσης-πελατων'}) }}" class="btn btn-primary btn-lg">ΜΑΘΕΤΕ ΠΕΡΙΣΣΟΤΕΡΑ</a>
    </div>
    <div class="col-sm-6 img-epivravefsi">
        <img src="{{ asset('images/epivraveusi-ponton-homepage.png') }}" alt="AnosiaPharmacy Επιβράβευση Πόντων" width="628" height="387">
    </div>
    <ul></ul>
</div>