<div class="section" style="background-image:url({{ asset('images/newsletter-bg.jpg') }});">
    <div class="container">
        <div class="section-heading section-heading-white row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Εγγραφείτε</h3>
                <h2>Στο Newsletter Μας</h2>
                <p>Oι προσφορές και τα νέα μας στο email σας. Γίνετε μέλος της παρέας μας και ενημερωθείτε πρώτοι για τα νέα και τις προσφορές μας. </p>
            </div>
        </div>

        <div class="row newsletter">
            <div class="col-md-10 col-md-offset-1">
                <form action="#" method="post">
                    <div class="col-sm-6 col-md-4 form-groupwow flipInY" data-wow-delay="0.4s"><input
                                type="text"
                                class="form-control input-lg"
                                placeholder="Ονοματεπώνυμο  ">
                    </div>
                    <div class="col-sm-6 col-md-4 form-group wow flipInY" data-wow-delay="0.4s"><input
                                type="email"
                                class="form-control input-lg"
                                placeholder="Email">
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 form-group wow flipInY"
                         data-wow-delay="0.4s"><input type="submit" value="ΕΓΓΡΑΦΗ"
                                                      class="btn btn-primary btn-block btn-lg"></div>
                </form>
            </div>
        </div>
    </div>
</div>