<ul class="social">
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-facebook"></i>
                            <small>Follow Us on</small>
                            <span>FACEBOOK</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-facebook"></i>
                            <small>Follow Us on</small>
                            <span>FACEBOOK</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-twitter"></i>
                            <small>Follow Us on</small>
                            <span>Twitter</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-twitter"></i>
                            <small>Follow Us on</small>
                            <span>Twitter</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-instagram"></i>
                            <small>Follow Us on</small>
                            <span>INSTAGRAM</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-instagram"></i>
                            <small>Follow Us on</small>
                            <span>INSTAGRAM</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-pinterest-p"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>PINTEREST</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-pinterest-p"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>PINTEREST</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-youtube"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Youtube</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-youtube"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Youtube</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-digg"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>DIGG</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-digg"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>DIGG</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-whatsapp"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>WHATSAPP</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-whatsapp"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>WHATSAPP</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-behance"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>behance</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-behance"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>behance</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-google-plus"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Google</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-google-plus"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Google</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-lastfm"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>lastfm</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-lastfm"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>lastfm</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
</ul>