<ul class="social">
    <li>
        <div class="social-btn">
            <a href="https://www.facebook.com/AnosiaPharmacy">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-facebook"></i>
                            <small>Βρείτε μας στο</small>
                            <span>FACEBOOK</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-facebook"></i>
                            <small>Βρείτε μας στο</small>
                            <span>FACEBOOK</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    <li>
        <div class="social-btn">
            <a href="https://www.instagram.com/anosiapharmacy.gr/">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-instagram"></i>
                            <small>Ακολουθήστε μας στο</small>
                            <span>INSTAGRAM</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-instagram"></i>
                            <small>Ακολουθήστε μας στο</small>
                            <span>INSTAGRAM</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    <li>
        <div class="social-btn">
            <a href="https://twitter.com/AnosiaPharmacy">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-twitter"></i>
                            <small>Ακολουθήστε μας στο</small>
                            <span>Twitter</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-twitter"></i>
                            <small>Ακολουθήστε μας στο</small>
                            <span>Twitter</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    <li>
        <div class="social-btn">
            <a href="https://plus.google.com/u/0/118177816495130950018">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-google-plus"></i>
                            <small>Βρείτε μας στο</small>
                            <span>Google</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-google-plus"></i>
                            <small>Βρείτε μας στο</small>
                            <span>Google</span></div>
                    </div>
                </div>
            </a></div>
    </li>
    <li>
        <div class="social-btn">
            <a href="mailto:info@anosiapharmacy.gr">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-envelope-o"></i>
                            <small>Επικοινωνήστε στο</small>
                            <span>EMAIL</span></div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div"><i class="fa fa-envelope-o"></i>
                            <small>Επικοινωνήστε στο</small>
                            <span>EMAIL</span></div>
                    </div>
                </div>
            </a></div>
    </li>


<!--

    
    
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-pinterest-p"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>PINTEREST</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-pinterest-p"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>PINTEREST</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-youtube"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Youtube</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-youtube"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Youtube</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-digg"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>DIGG</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-digg"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>DIGG</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-whatsapp"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>WHATSAPP</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-whatsapp"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>WHATSAPP</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-behance"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>behance</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-behance"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>behance</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-google-plus"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Google</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-google-plus"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Google</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}
    {#<li>#}
        {#<div class="social-btn">#}
            {#<a href="#">#}
                {#<div class="social-n">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-lastfm"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>lastfm</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="social-h">#}
                    {#<div class="table-div">#}
                        {#<div class="table-cell-div"><i class="fa fa-lastfm"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>lastfm</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</a></div>#}
    {#</li>#}-->
</ul>