<div class="row other-products">
    <div class="col-md-4 col-lg-3">
        <div class="product-media-scroll">
            <h3>Best <span>Sellers</span></h3>
            <div class="owl-carousel owl-theme ProductScrollMedia">
                <div class="item">
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-1.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Provouge Woman Top</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-2.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Provouge Men T-Shirt</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-3.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Gucci Red Backpack</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-1.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Provouge Woman Top</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-2.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Provouge Men T-Shirt</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-3.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Gucci Red Backpack</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-1.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Provouge Woman Top</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-2.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Provouge Men T-Shirt</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="media">
                            <div class="media-left"><a href="#"><img class="media-object"
                                                                     src="images/product-3.jpg"
                                                                     alt="..."></a></div>
                            <div class="media-body">
                                <h5><a href="#">Gucci Red Backpack</a></h5>
                                <div class="star-rating"><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                <div class="price">$28.40
                                    <del>$35.50</del>
                                </div>
                                <button type="button" class="btn btn-primary btn-xs">ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8 col-lg-9">
        <div class="ProductTab">
            <ul class="resp-tabs-list hor_1">
                <li>MEN</li>
                <li>WOMEN</li>
                <li>ACCESSORIES</li>
            </ul>
            <div class="resp-tabs-container hor_1">
                <div id="men_id">
                    <div class="owl-carousel owl-theme ProductScrollTab">
                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-green"><span>new</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-1-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-1.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Provouge Woman Top</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Provouge Woman Top</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-red"><span>Sale</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-2-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-2.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Provouge Men T-Shirt</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Provouge Men T-Shirt</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-orange"><span>20% OFF</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-3-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-3.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Gucci Red Backpack</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Gucci Red Backpack</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-green"><span>new</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-4-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-4.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Killer Jeans for Men</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Killer Jeans for Men</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="women_id">
                    <div class="owl-carousel owl-theme ProductScrollTab">
                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-green"><span>new</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-4-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-4.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Provouge Woman Top</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Provouge Woman Top</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-red"><span>Sale</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-3-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-3.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Provouge Men T-Shirt</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Provouge Men T-Shirt</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-orange"><span>20% OFF</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-2-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-2.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Gucci Red Backpack</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Gucci Red Backpack</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-green"><span>new</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-1-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-1.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Killer Jeans for Men</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Killer Jeans for Men</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="acce_id">
                    <div class="owl-carousel owl-theme ProductScrollTab">
                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-green"><span>new</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-1-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-1.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Provouge Woman Top</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Provouge Woman Top</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-red"><span>Sale</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-2-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-2.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Provouge Men T-Shirt</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Provouge Men T-Shirt</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-orange"><span>20% OFF</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-3-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-3.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Gucci Red Backpack</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Gucci Red Backpack</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-case">
                                <div class="tag tag-green"><span>new</span></div>
                                <div class="product-img">
                                    <div class="hover-img"><img src="images/product-4-h.jpg" alt="">
                                    </div>
                                    <a href="#"><img src="images/product-4.jpg" alt=""></a>
                                </div>
                                <div class="hover-info">
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">Killer Jeans for Men</a>
                                        </div>
                                        <div class="star"><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i></div>
                                        <div class="product-price">
                                            <div class="product-price-span">$28.40
                                                <del>$35.50</del>
                                            </div>
                                        </div>
                                        <button type="button"><i class="fa fa-cart-plus"></i><span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-short-info">
                                    <div class="product-name"><a href="#">Killer Jeans for Men</a></div>
                                    <div class="star"><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-price">
                                        <div class="product-price-span">$28.40
                                            <del>$35.50</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>