{% extends 'layout.html.twig' %}

{% block bodyId %}category{% endblock %}
{% block title %}Login{% endblock %}
{% block slider %}{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
        <div class="container">
            <section id="main">
                <section id="content" class="page-content card card-block">

                    <div class="page-wrap d-flex flex-row align-items-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-12 text-center">
                                    <span class="display-1 d-block">404</span>
                                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                                    <a href="https://www.totoprayogo.com/#" class="btn btn-link">Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/404.js') }}"></script>
{% endblock %}