<h3>Γεια σας!</h3>
<p>
    Παρακαλούμε επιλέξτε τον ακόλουθο σύνδεσμο, για να πιστοποιηθεί το e-mail σας και να ολοκληρωθεί η εγγραφή σας στο Anosia Pharmacy: <br />
    {{ url('user_verify_registration', {'token': token}) }}<br />
    Ευχαριστούμε.
</p>